* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
#root,
.app {
    width: 100%;
    height: 100%;
}
.gameboard {
    width: 100%;
    height: 100%;
}
.card {
    width: 16.6%;
    height: 33.33%;
    display: inline-block;
    margin: 2vmin;
    padding: 2vmin 1vmin;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 0;
    background-color: #222;
}
.back {
    background-color: #000;
    z-index: 500;
}
.front {
    border: 1px solid #000;
}
.front img,
.back img {
    width: 100%;
    height: 100%;
}
.flipped {
    display: none;
}